.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    border: 5px solid darkgreen;
    padding : 1rem;
    border-radius: 10px;
    background-color: #f0fff0;
}

.container button{
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    border: 2px solid rgba(4, 185, 4, 0.336);
    cursor: pointer;
    align-self: center;
    background-color: white;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.buttonContainer button{
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    border: 2px solid rgba(4, 185, 4, 0.336);
    cursor: pointer;
    margin-top: 1rem;
    background-color: white;
    width: 10rem;
}

.inputs{
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
}

.inputs input{
    padding: 0.5rem;
    border-radius: 5px; 
    border: 2px solid darkgreen;
    text-align: center;
}

.inputs input[type="number"] {
    width: 30%;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.inputs input[type="number"]::-webkit-outer-spin-button,
.inputs input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}