.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    padding : 1rem;
    border-radius: 10px;
    background: #fff395;
}


.container button{
    padding: 0.5rem 1rem;
    border-radius: 5px; 
    cursor: pointer;
    align-self: center;
    background: #fff395;
}

.buttonContainer{
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.buttonContainer button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
    width: 10rem;
}

.inputs{
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
}

.inputs input{
    padding: 0.5rem;
    border-radius: 5px; 
    text-align: center;
    background: #fff395;
}

.inputs input[type="number"] {
    width: 30%;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: textfield;
    appearance: none;
}

.inputs input[type="number"]::-webkit-outer-spin-button,
.inputs input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}