.container {
    background-color: lightskyblue;
    border: 5px groove grey;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: white;
    text-align: center;
}

.titleContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}   

.button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    background-color: skyblue;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
}

.accountContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
    gap: 1rem;
}
